.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field{
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}
.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;

}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
.center {
  margin: auto;
  width: 40%;
	text-align: center;
}
.fonthome{
	top:350px;
}
.background{
	background-color: black;
}
.leftside, .rightside{
    height:100%;
    width:100%;
}
.rightside{
  text-align: center;
  background-color: black;
  height: 700px;
}
.text_con{
  color: white;
}
.list-group{
  width:100%;
  height: 100%;
}
#footer{
  margin-top: 30px;
  padding:20px;
  color:#F7FFF7;
  background-color: #1A535C;
}
.asspage{
  text-align: center;
}
.assortiment{
  text-align: left;
  margin-top: 20px;
  margin-left: 40px;
}
.insTosti{
  width:100%;
  margin-top: 40px;
}
#main-menu {
    background-color: white;
}
.font{
  font-family: Segoe UI;
  color:white;
}
.list-group-item {
    background-color: white;
    border: none;
    height: 60px;
}

a.list-group-item {
    color: #1A535C;
}
a{
  text-align: center;
}
a.list-group-item:hover,
a.list-group-item:focus {
    background-color: rgb(223, 245, 246);
    height: 70px;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    color: #1A535C;
    background-color: white;
    border-bottom: 1px solid black;
    height: 120px;
}
.center{
  float: center;
}
.but_col{
  background-color: #11998e;
  color:white;
  display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.list-group-level1 .list-group-item {
    padding-left:30px;
}

.list-group-level2 .list-group-item {
    padding-left:60px;
}
.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}
